nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products a {
  text-decoration: none;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.container {
  width: 33%;
  height: 300px;
  margin-bottom: 20px;
}

.photo {
  width: 200px;
  height: 200px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}

.footer-container {
  width: 33%;
  min-height: 400px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container h3 {
  font-size: 3rem;
}

/* Footer */

/* Mobile view */

@media only screen and (max-width: 425px){

  .products {
    display: flex;
    flex-direction: column;
  }

	.footer {
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }

}
