nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products a {
  text-decoration: none;
  padding: 10px;
  background-color: orange;
  color: white;
  border-radius: 5px;
}

.container {
  width: 33%;
  height: 320px;
  margin-bottom: 20px;
}

.photo {
  width: 200px;
  height: 200px;
}

/* Reviews */

.review {
  width: 80%;
  margin: 0 auto;
}

.review-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-review {
  width: 400px;
  height: 200px;
}

/* Reviews */

/* Contact Us */

.contact {
  width: 50%;
  margin: 0 auto;
}

/* Contact Us */

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}

.footer-container {
  width: 33%;
  min-height: 400px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container h3 {
  font-size: 3rem;
}

.footer-container p a {
  text-decoration: none;
  color: #ffffff;
}

.text {
  margin-left: 25px;
}

/* Footer */

/* Mobile view */

@media only screen and (max-width: 425px){

  .products {
    display: flex;
    flex-direction: column;
  }

  .review {
    width: 100vw;
  }

  .photo-review {
    width: 100px;
    height: 50px;
  }

  .contact {
    width: 90vw;
  }

	.footer {
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }

}
